{
    margin: 0;
    padding: 0;
}
.hero-sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    min-height: 80vh;
    /* background-color: rgb(1, 26, 58); */
}
.grnd-div{
    max-width: 500px;
}
.prgh-studio{
     color: gray;
     /* font-size: 1px; */
     margin-bottom: 20px;
}
.title1{
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
    
}
.group{
     display: flex;
    align-items: center;
    gap: 20px;
}
.btn-premier{
     color:white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(30, 173, 30);
}
.btn-secondary{
    display: flex;
    justify-content: flex-end;
    color:white;
    /* text-underline:10px; */
    text-underline-position: below;
    text-decoration: none;
}
.img-codage{
    width: 600px;
    background-image: url(etoile.png.webp);
    
}
 


    

